<?xml version="1.0"?>
<model>
  <name>megabloks1x3</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Priyam Parashar</name>
   <email>priyam8parashar@gmail.com</email>
  </author>

  <description>
    A gazebo model of mega bloks 1x3 brick
    https://www.thingiverse.com/thing:1217152
  </description>
</model>
